@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';

$info: #B7A0E5;
$secondary: rgb(224, 224, 224);
$gray-100: #1D1B1F;
$gray-300: #1A191D;
$dark: #131216;
$green: #9DD84E;
$yellow: #F9CF39;
$orange: #F99049;
$red: #F65E5F;
$purple: #A070B6;
$coral: #A06A7B;

$theme-colors: map-merge($theme-colors , (
    'info': $info,
    'secondary': $secondary,
    'gray-100': $gray-100,
    'gray-300': $gray-300,
    'dark': $dark,
    'green': $green,
    'yellow': $yellow,
    'orange': $orange,
    'red': $red,
    'purple': $purple,
    'coral': $coral,
));

$font-family-base: 'Rubik', sans-serif;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
$bootstrap-icons-font-dir: "bootstrap-icons/font/fonts";
@import "bootstrap-icons/font/bootstrap-icons.scss";

#app {
    nav {
        label {
            width: 400px;
            input[type="text"] {
                &::placeholder {
                    color: $secondary;
                }
            }
        }
        @media screen and (width < 768px) {
            label, button {
                border-radius: 50% !important;
                width: 30px;
                aspect-ratio: 1 / 1;
                justify-content: center;
            }

            button {
                svg {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .hideScrollbar {
        @media screen and (width < 576px) {
            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }
            
            /* Hide scrollbar for IE, Edge and Firefox */
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
        }
    }

    .bg-gray-100 {
        background-color: rgba(29, 27, 31, 0.5) !important;
    }

    .bg-gray-300 {
        background-color: rgba(26, 25, 29, 0.25) !important;
    }
}

#modal {
    input[type="text"] {
        &::placeholder {
            color: $secondary;
        }
    }
}

#app, #modal {
    .citypicked {
        &:hover {
            cursor: pointer;
            background-color: rgba(29, 27, 31, 0.5);
            transform: scale(1.01);
        };

        input[type="radio"] {
            pointer-events: none;
        };
    }
}